*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* empliment on all li and a tag */
  
  li{
      list-style: none;
  }
  
  a{
      text-decoration: none;
  }
  
  
   /* ----------------- start the navbar section ------------------- */
  header{
      box-shadow: 0px 1px 12px 5px #09050577;
      margin-bottom: 10px;
      padding: 0px 30px;
      height: 70px;
  }
  
  .navbar-container{
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
  }
  
  .navbar ul{
    display: flex;
    gap: 40px;
    align-items: center;
    text-transform: capitalize;  
  }
  
  .navbar-container .logo img{
      width: 150px;
  }
  
  .navbar ul li a{
  color: #000000;
  font-size: 1.3rem;
  font-weight: 600;
  
  }
  
  .navbar ul li{
      position: relative;
   }
  .navbar ul li::before{
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      border-bottom: 2px solid rgb(249, 196, 196);
      width: 0%;
      -o-transition: all.3s linear;
      -webkit-transition: all.3s linear;
      -moz-transition: all.3s linear;
      -ms-transition: all.3s linear;
      transition: all .3s linear;
  }
  ul li:hover::before{
      width: 100%;
  }
  
  #check{
      display: none;
  }
  .navbar .checkbtn{
     float: right;
     font-size: 1.1rem;
     display: none;
  }
  
  /*----------------- Service section -------------------*/
  .service-img{
      background-image: url("/new\ project/image/Banner-image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      margin-top: 25px;
      padding: 80px;
  }
  
  .service-img h1{
      text-align: center;
      color: white;
      font-size: 2.5em;
      padding-top: 2rem;
  }
  
  .service-img .text{
      display: flex;
      justify-content: center;
      /* margin: 2rem; */
      font-size: 1.5rem;
  }
  
  .service-img .text .a1{
      text-decoration: underline;
      padding: 1rem;
      color: #f0f8ff;
  }

  .service-img .text .a1:hover{
    color: rgb(53, 210, 72);
    text-decoration: none;
  }
  
  .text span{
      padding: 1rem;
      color: #f0f8ff;
  }
  
  .text .a2{
      text-decoration: underline;
      padding: 1rem;
      color: rgb(53, 210, 72);
  }

  .service-img .text .a2:hover{
    text-decoration: none;
  }

  /* ------------------ service-pera ------------ */
  .service-pera{
    padding: 3rem;

  }

.service-pera p{
    padding:1rem;
    /* font-size: 1.2rem; */
}


/* ------------------ service-lamp------------ */
.service-lamp{
    padding: 3rem;
}

.service-lamp h4{
    font-size: 1.4rem;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 1.4rem;
}

.service-lamp .lamp-img{
    width: 100%;
    padding: 3rem;
    text-align: center;

}

.lamp-img img{
    width: 30%;
    text-align: center;    
}

/* -------------------- service-aim ------------ */
.service-aim{
    padding: 3rem;
}

.service-aim h4{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.service-aim p{
    padding: 1rem;
    text-align: center;
}


/* --------------------- Call us section/adrss section start ----------------*/
.callbox{
    background-color:rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 40vh;
    margin-top: 2px;
}

.adrss h1{
    /* text-align: center; */
    color: rgb(41, 213, 92);
    font-size: 20px;
  padding: 20px;
     
}
.adrss p{
    color: white;
    /* margin-bottom: 8.4rem; */
    font-size: 15px;
    margin: 10px;
}
.adrss .cont a{
    color: rgb(41, 213, 92);
    font-size: 20px;
  padding: 20px;
  
}
.email .mail{
    color: rgb(41, 213, 92);
   margin-top: 20px;

}

.email .pooja{
  color: white;
  /* padding: 20px; */

}

.adrss a:hover{
    color:white;
    text-decoration: none;

}

/*--------------- Footer section -------------------*/
footer {
    padding: 20px 0;
    background-color: #212020;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 40px; */
}
footer img {
    margin-bottom: 20px;
    width: 190px;;
}
footer .box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
}
footer .box .listtag {
    flex: 1;
    margin: 0 10px;
}
footer .box .listtag h6 {
    margin-bottom: 10px;
    font-size: 1rem;
}

footer .box .listtag p{
    color: #fcf8f8;
    line-height: 1.3rem;
    text-align: left;
    font-size: 0.8rem;
}
footer .box .listtag ul {
    list-style: none;
    padding: 0;
}
footer .box .listtag ul li {
    margin-bottom: 10px;
}

footer .box .listtag .btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;

}
footer .box .listtag .btn input {
    margin-top: 10px;
    padding:10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
}
footer .box .listtag .btn button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer .box .listtag .btn button:hover{
    background-color: #3e8e41;
}

footer .box .listtag .icons i{
    margin: 10px 10px;
    cursor: pointer;
    color: #f3f2f2;
    font-size: 1.4rem;
}

footer .box .listtag .icons i:hover{
    color: #14a9ae;
}

footer .copyrights{
    margin-top: 20px;
    text-align: center;
    border:none;
    color: #bfb7b7;
    display:inline;
}








/* Responsiveness media */

@media(max-width:574px){
    .navbar ul{
      flex-direction: column;
    }
  .navbar .checkbtn{
      display: block;
  
  }
  .navbar ul{
      position: absolute;
      top:85px;
      left: -100%;
      z-index: 1;
      width: 100px;
      height: auto;
      background-color:rgba(255, 255, 255, 0.23);
      padding: 10px 0;
      /* backdrop-filter: blur(1px); */
   box-shadow: -10px 0 1px rgba(255, 255, 255, 0.23);
  }
  
  #check:checked ~ ul{
      left: 75%;
  }
  .navbar ul li a{
      font-size: 1rem;
      color: #000000;
  }

}















      


